.button1{
padding: 50px;
margin: 50px;
background-color: pink;
}

.button2{
    padding: 50px;
    margin: 50px;
    background-color: pink;
    }
    

.default {
background-color: antiquewhite;

}