caption {
  background-color: #95cfd3;
  font-size: 50px;
  font-weight: 800;
}
table {
  background-color: #687a8b;
}

thead {
  font-family: Arial;
  font-size: 18px;
  color: rgb(221, 216, 216);
}
