body {
    background-color: aquamarine;
}


.container {

display: flex;
border: 1px solid black;
background-color: blueviolet;
flex-direction: row;
width: 100%;
flex-wrap: wrap;

  }  
.caja {
border: 1px solid black;
background-color: azure;
height: 100px;
width: 200px;
line-height:50px ;
text-align: center;
margin: 5px;
}

   
